<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
        <title>Herd</title>
        <!--bootsrtap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Raleway" rel="stylesheet">

        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
        <!--bootsrtap js-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!--app js-->
        <script type="text/javascript" src="../../assets/app.js"></script>
    </head>

    </head>

    <div class="page-header">
      <h1> Herd <small> Keep all your carpool deets in one place </small></h1>
    </div>

    <body>
        {{{ body }}}
    </body>

    <!--Footer-->
    <footer class="page-footer center-on-small-only primary-color-dark">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">
            <ul>
                <li>{{{crystal}}}</li>
                <li>{{{robert}}}</li>
                <li>{{{matt}}}</li>
                <li>{{{caleb}}}</li>
                <li>{{{mary}}}</li>
            </ul>

            </div>
         </div>

         <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright

            </div>
        </div>

     </footer>


</HTML>
