<div style="background-color: #FFF; margin: 0 auto; border-radius: 4px; padding: 10px 0px 10px 10px; width: 80%">
{{#each results}}
<h3 style="font-weight: bold" data-id="{{groupID}}" id="groupName">{{groupName}}</h3>

<h4>Description</h4>
<p>{{groupDescription}}</p>

<h4>Drivers</h4>

<input type="submit" value="Join" data-groupId="{{groupID}}" id="join">
<input type="submit" value="Leave" data-groupId="{{groupID}}" id="leave" style="display: none;">
</div>

{{/each}}